<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://github.com/Christoph142/modern-scroll" defaultlocale="en" version="2.3.2">

	<name>modern scroll</name>
	<author href="http://my.opera.com/christoph142/blog">Christoph D.</author>
	<icon src="images/icon.png" />
	
	<description xml:lang="ar">الإرتقاء بالتمرير و التصفح على أوبرا إلى مستوى آخر</description>
	<description xml:lang="cs">Přeneste rolování v Opeře na úplně novou úroveň</description>
	<description xml:lang="de">Bringt das Scrollen in Opera auf ein ganz neues Niveau</description>
	<description xml:lang="en">Takes scrolling in Opera to a whole new level</description>
	<description xml:lang="fr">Prend le défilement d'Opera à un niveau entièrement nouveau</description>
	<description xml:lang="nb">Tar rulleopplevelsen i Opera opp til neste nivå</description>
	<description xml:lang="pl">Przeniesienie przewijania w Operze na całkowicie nowy poziom</description>
	<description xml:lang="pt">Leva a rolagem no Opera a um novo nível</description>
	<description xml:lang="ro">Duce derularea din Opera la un complet nou nivel</description>
	<description xml:lang="tr">Opera'da kaydırma için yeni bir seviye</description>
	
	<feature name="opera:screenshot" />
	<feature name="opera:contextmenus" />
	
	<preference name="size" value="8" />
	<preference name="hover_size" value="12" />
	<preference name="opacity" value="50" />
	<preference name="color" value="#000000" />
	<preference name="color_bg" value="#999999" />
	<preference name="border_radius" value="7" />
	<preference name="border_width" value="2" />
	<preference name="border_color" value="#FFFFFF" />
	<preference name="border_color_rgba" value="rgba(255,255,255,0.5)" />
	<preference name="border_blur" value="0" />
	<preference name="show_when" value="2" /><!-- 1 = onmouseover only, 2 = normal, 3 = always -->
	<preference name="show_bg_bars_when" value="3" /><!-- 1 = never, 2 = onmouseover only, 3 = like bars -->
	<preference name="fullscreen_only" value="0" />
	<preference name="bg_special_ends" value="1" />
	<preference name="move_bars_during_scroll" value="1" />
	<preference name="show_superbar" value="0" />
	<preference name="show_superbar_minipage" value="1" />
	<preference name="superbar_opacity" value="70" />
	<preference name="vbar_at_left" value="0" />
	<preference name="hbar_at_top" value="0" />
	<preference name="container" value="0" />
	<preference name="container_size" value="30" />
	<preference name="gap" value="2" />
	
	<preference name="show_buttons" value="0" /><!-- 0 = no, 1 = yes (old), 2 = only fullscreen, 4 = yes -->
	<preference name="buttonposition" value="48" />
	<preference name="button_height" value="50" />
	<preference name="button_width" value="100" />
	<preference name="button_opacity" value="10" />
	
	<preference name="animate_scroll" value="1" />
	<preference name="animate_scroll_max" value="2" />
	
	<preference name="use_own_scroll_functions" value="1" />
	<preference name="use_own_scroll_functions_mouse" value="1" />
	<preference name="scroll_velocity" value="5" />
	<preference name="keyscroll_velocity" value="2" />
	<preference name="mousescroll_velocity" value="3" />
	<preference name="mousescroll_distance" value="1" />
	
	<preference name="contextmenu_show_when" value="2" /><!-- 1 = never, 2 = only over interface, 3 = always -->
	
	<preference name="external_interface" value="1" />
	
</widget>