<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://github.com/Christoph142/modern-scroll" defaultlocale="en" version="1.1">

	<name>modern scroll</name>
	<author href="http://my.opera.com/christoph142/blog">Christoph D.</author>
	<icon src="images/icon.png" />
	
	<description xml:lang="de">Eine moderne Alternative zu Operas Standard-Bildlaufleisten</description>
	<description xml:lang="en">An up-to-date alternative to Opera's standard scrollbars</description>
	<description xml:lang="fr">Une alternative moderne à barres de défilement standards d'Opera</description>
	<description xml:lang="it">Una moderna alternativa per le barra di scorrimento standard di Opera</description>
	<description xml:lang="nb">An up-to-date alternative to Opera's standard scrollbars</description>
	<description xml:lang="pl">Odnowione alternatywne paski przewiajania w Operze</description>
	<description xml:lang="tr">Opera'nın standart kaydırma çubuklarına güncel bir alternatif</description>
	
	<feature name="opera:screenshot" required="false"/>
	<feature name="opera:contextmenus" required="true"/>
	
	<preference name="size" value="10" />
	<preference name="hover_size" value="14" />
	<preference name="color" value="#000" />
	<preference name="border_radius" value="7" />
	<preference name="show_when" value="2" /><!-- 1 = only_over, 2 = normal, 3 = always -->
	<preference name="no_bar_bg" value="0" />
	<preference name="bg_special_ends" value="1" />
	<preference name="animate_mousescroll" value="0" />
	<preference name="show_buttons" value="0" />
	<preference name="buttonposition" value="48" />
	<preference name="button_height" value="50" />
	<preference name="button_width" value="100" />
	<preference name="show_superbar" value="1" />
	<preference name="show_superbar_minipage" value="0" />
	<preference name="vbar_at_left" value="0" />
	<preference name="hbar_at_top" value="0" />
	<preference name="contextmenu_show_when" value="2" /><!-- 1 = never, 2 = only over interface, 3 = always -->

</widget>