<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://github.com/Christoph142/modern-scroll" defaultlocale="en" version="1.3">

	<name>modern scroll</name>
	<author href="http://my.opera.com/christoph142/blog">Christoph D.</author>
	<icon src="images/icon.png" />
	
	<description xml:lang="de">Eine moderne Alternative zu Operas Standard-Bildlaufleisten</description>
	<description xml:lang="en">An up-to-date alternative to Opera's standard scrollbars</description>
	<description xml:lang="fr">Une alternative moderne à barres de défilement standards d'Opera</description>
	<description xml:lang="it">Una moderna alternativa per le barra di scorrimento standard di Opera</description>
	<description xml:lang="nb">An up-to-date alternative to Opera's standard scrollbars</description>
	<description xml:lang="pl">Odnowione alternatywne paski przewiajania w Operze</description>
	<description xml:lang="pt">Uma alternativa moderna para as barras de rolagem padrão do Opera</description>
	<description xml:lang="tr">Opera'nın standart kaydırma çubuklarına güncel bir alternatif</description>
	
	<feature name="opera:screenshot" />
	<feature name="opera:contextmenus" />
	
	<preference name="size" value="8" />
	<preference name="hover_size" value="12" />
	<preference name="opacity" value="50" />
	<preference name="color" value="#000000" />
	<preference name="color_bg" value="#999999" />
	<preference name="border_radius" value="7" />
	<preference name="border_width" value="2" />
	<preference name="border_color" value="#FFFFFF" />
	<preference name="border_color_rgba" value="rgba(255,255,255,0.5)" />
	<preference name="border_blur" value="0" />
	<preference name="show_when" value="2" /><!-- 1 = only_over, 2 = normal, 3 = always -->
	<preference name="fullscreen_only" value="0" />
	<preference name="no_bar_bg" value="0" />
	<preference name="bg_special_ends" value="1" />
	<preference name="animate_mousescroll" value="1" />
	<preference name="show_buttons" value="0" />
	<preference name="buttonposition" value="48" />
	<preference name="button_height" value="50" />
	<preference name="button_width" value="100" />
	<preference name="button_opacity" value="10" />
	<preference name="show_superbar" value="0" />
	<preference name="show_superbar_minipage" value="1" />
	<preference name="superbar_opacity" value="70" />
	<preference name="vbar_at_left" value="0" />
	<preference name="hbar_at_top" value="0" />
	<preference name="contextmenu_show_when" value="2" /><!-- 1 = never, 2 = only over interface, 3 = always -->
	<preference name="container" value="0" />
	<preference name="container_size" value="30" />
	<preference name="gap" value="1" />
	
</widget>