html		{ background:#f1f6f0; }
a			{ text-decoration:none; color:#001; }
body		{ font:13px/24px "helvetica neue",arial,sans-serif; cursor:default; max-width:900px; overflow-x:hidden;
  			  color:#1e3853; background:rgba(255,255,255,0.9); margin:15px auto; box-shadow:0 0 10px #98b0c9; direction: __MSG_@@bidi_dir__; }
header		{ display:block; text-align:center; padding:25px 50px 10px 50px; margin:0 50px;
			  border-bottom:1px solid rgba(0,0,0,0.15); box-shadow:0 1px #fff; }
section 	{ display:block; padding:0 50px; }
fieldset	{ border:none; background:rgba(150,160,200,0.25); border-radius:2px; padding:1px 20px 15px 20px; }
footer		{ display:block; text-align:center; padding:0 50px; margin:30px 50px 0 50px;
			  border-top:1px solid #fff; box-shadow:0 -1px rgba(0,0,0,0.15); }
h1			{ margin:0px; margin-bottom:-10px; font-size:24px; }
h3			{ margin-bottom:5px; }
table		{ width:100%; }
table.c td	{ vertical-align:top; }
table.c td:first-child	{ width:20px; }
input[type=number]{ width:40px; }
input[type=text]{ color:#999; text-align:center; }
input[type=text]:focus{ color:#000; background:rgba(0,0,0,0); border:0; }
.slider_values::after{ content:"%"; }

div.toggle-container{ overflow:hidden; height:0; }
input.toggle:checked ~ div.toggle-container{ height:auto; }

#help		{ position:fixed; top:20px; right:20px; width:auto; height:auto; box-shadow:0 0 10px #F00; background:#FFF; padding:10px; text-align:center; cursor:pointer; }
#close_help	{ position:fixed; top:25px; right:25px; height:13px; width:13px; border-radius:4px; border:1px solid #BBB; cursor:default; transition:200ms; }
#close_help:hover{background:#DDD;}
#close_help > p{ position:fixed; top:5px; right:30px; }
#close_help > p::before{ content:"x"; font-size:xx-small; }

#save_set_img, #delete_set_img, #load_set_img{ height:17px; cursor:pointer; }	
#save_set	{ cursor:text; }

.i			{ background:#FFF; display:inline; border-radius:10px; font-weight:bold; padding:2px 8px; margin-left:5px; transition:opacity 0.5s; }
.i:hover	{ background:#888; box-shadow:0 0 6px #888; transition:opacity 0.2s; text-shadow:0 0 3px #FFF; color:#000; }
.i:hover > .i_text{ display:inline; opacity:1; }
.i_text		{ display:none; position:absolute; margin:13px 5px 0 3px; padding:10px 15px; z-index:99; opacity:0; max-width:500px; font-weight:normal;
			  background:linear-gradient(-45deg, #CCC, #888); box-shadow:0 0 6px #888; transition:opacity 0.2s; text-shadow:0 0 2px #FFF; color:#000; }